@import "rounded-corners.less";

@link_primary: #11c;
@link_secondary: #4272db;
@chrome_primary: #bcf;
@chrome_secondary: #e3e9ff;
@chrome_dark: #828eb2;
@fill_primary: #ebeef8;
@fill_secondary: #f2f2f2;
@fill_editable: #ffffd6;
@selected_primary: #68e;
@selected_highlight: #FF6A00;
@green_primary: #282;
@green_secondary: #3d3;
@notification_primary: #fe8;
@faint_grey: #ddd;
@light_grey: #999;
@metadata_grey: #777;
@near_black: #444;
@dialog_frame: #3a5774;
@dialog_border: #c1d9ff;
@dialog_header: #e0edfe;
@dialog_footer: #eee;

@padding_tighter: 3px;
@padding_tight: 5px;
@padding_normal: 7px;
@padding_loose: 10px;
@padding_looser: 15px;

.facet-widgets {
	padding-top: 5px;
}

.facet-container {
  display: block;
  clear: both;
  margin: 0 5px 7px;
  background: @chrome_secondary;  
  border: 1px solid @chrome_primary;
  .rounded_corners(7px);

  a {
	text-decoration: none;
  }

}

.facet-title {
  padding: 3px 3px;
  background: @chrome_primary;
  font-weight: bold;
  cursor: move;
  border-bottom: 1px solid @chrome_primary;
  .rounded_corners_top(6px);
  
  }

.facet-controls {
  position: relative;
  font-size: 0.9em;
  padding: 7px 5px;
  background: @chrome_secondary;
  border-bottom: 1px solid @chrome_primary;
  }

.facet-controls-button {
  position: absolute;
  top: 2px;
  right: 2px;
  }

.facet-reset-button{
  float: right;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 0.85em;
  color: #4272db;
  font-weight: normal;
} 

.facet-body-scrollable {
	height: 14em;
	padding-bottom: 8px;
	background: url(images/facet-resize-handle.png) center bottom no-repeat;
	font-size: 14px;
}

.facet-body-inner {
	height: 100%;
	background: #fff;
	overflow-y: scroll;
}
  
.facet-body-scrollable .facet-body-inner {
  border-bottom: 1px solid @chrome_primary;
  }

.facet-body.facet-body-scrollable .ui-resizable-s {
  bottom: -5px;
  height: 15px;
  }

.facet-body-controls {
  font-size: 0.85em;
  margin: 5px 0;
  }

.facet-choices{

	display: table;
	width: 100%;
	border-spacing: 0px .7em;

	.facet-choice {
		display: table-row;
		clear: both;

		color: blue;


		.cell{
			display: table-cell;
		}

		> .text-cell > .text {
			padding: 0px 1em;

			> .title {
				cursor: pointer;
			}
			> .count{
				padding-left: 5px;
				font-size: 0.85em;
				color: @light_grey;
			}
		}

		> .icon-cell {
			width: 30%;

			> .icon {
				width: 100%;

				.count-image{
					width: 100%;
					.scalebar-container{
						border: thin solid @faint_grey;
						display: block;
					}
					.scalebar-fill{
						background-color: @chrome_primary
					}
				}
			}
		}

		> .controls-cell {
			width: 30%;
		
			> .controls{
				width: 100%;

				> .control {
					visibility: hidden;
					float: right;
				}

				> .toggle{
					padding-left: 5px;
					font-size: 0.85em;
					font-weight: normal;
				}

				> .info {
					cursor: pointer;
				}
			}
		}


		&.selected{

			.text{
				.title{
					font-weight: bold;
					color: @selected_highlight;
				}
			}

			> .controls-cell > .controls > .toggle {
				visibility: visible;
			}
		}

		&:hover{
			background-color: @fill_secondary;

			.controls-cell > .controls > .control{
				visibility: visible;
			}
		}
	}
}


.facet-range-facet .facet-body{
	padding: 10px 14px;

	.range-widget{
		position: relative;
		width: 100%;
		height: 10em;
		background-color: white;

		.slider-widget, .histogram{
			height: 100%;
			width: 100%;
			position: absolute;
		}

		.slider-widget {

			z-index: 2;

			.slider {
				z-index: -5;
				background-color: transparent;
				background-image: none;
				height: 100%;

				.ui-slider-range{
					background-image: none;
					background-color: transparent;
				}

				.ui-slider-range-left, .ui-slider-range-right{
					position: absolute;
					height: 100%;
					opacity: .25;
					background-color: #666666;
				}

				.ui-slider-handle {
					top: 40% !important;
					border: thin solid black !important;
				}
			}

		}

		.histogram{
			.bar-body {
				width: 90%;
				height: 100%;
				border: thin solid @light_grey;
			}
		}

		.filtered-histogram{
			z-index: 1;
			.bar-body {
				background-color: @chrome_secondary;
			}
		}
		.base-histogram{
			z-index: 0;
			opacity: .25;
			.bar-body {
				background-color: transparent;
				border: thin solid black;
			}
		}

	}

	.range-controls {
		padding-top: 1em;
		text-align: center;

		input{
			width: 5em;
		}
	}

}

