@import url("require:CommonStyles/styles/variables.less");
@import url("require:CommonStyles/styles/rounded-corners.less");
@import "list-facet.less";
@import "range-facet.less";
@import "time-slider-facet.less";
@import "facets-editor.less";

.facet-widgets {
	padding-top: 5px;
}

.facet {
    a {
        text-decoration: none;
    }

    > .inner{
      display: block;
      clear: both;
      margin: 0 5px 7px;
      background: @chrome_secondary;  
      border: 1px solid @chrome_primary;
      .rounded_corners(7px);

      > .facet-header{
          table-layout: fixed;
          .rounded_corners_top(6px);
          width: 100%;
          border-bottom: 1px solid @chrome_primary;
          background: @chrome_primary;
          cursor: move;
          padding: @padding_tighter;

          td {
            vertical-align: middle;
            padding: 5px;
          }

          .close-cell {
            width: 18px;

            > .close-button{
              display: inline-block;
              cursor: pointer;
              margin: 1px;
              width: 16px;
              height: 16px;
              background-image: url("images/buttons.png");
              @top_offset: -0px;
              @hover_offset: -16px;
              background-position: 0px @top_offset;
              &:hover { background-position: @hover_offset @top_offset; }
            }
          }

          .title-cell > .title {
              padding: @padding_tighter;
              font-weight: bold;
          }

          .controls-cell > .control{
              float: right;
              padding-left: 5px;
              padding-right: 5px;
              font-size: 0.85em;
              color: #4272db;
              font-weight: normal;
          }

          .facet-info-button{
              > .content {
                display: none;
              }
          }
      }

      > .facet-status {
          position: relative;
          font-size: 0.9em;
          padding: 7px 5px;
          background: @chrome_secondary;
          border-bottom: 1px solid @chrome_primary;
      }

      > .facet-body{

          padding-bottom: 8px;
          font-size: 14px;

          > .inner {
              height: 100%;
              background: #fff;
              overflow-y: scroll;
          }

          &.ui-resizable{
              height: 14em;
              background: url(images/facet-resize-handle.png) center bottom no-repeat;

              > .inner {
                  border-bottom: 1px solid @chrome_primary;
              }

              .ui-resizable-s {
                  bottom: -5px;
                  height: 15px;
              }
          }
      }
  }
}

