@import url("require:CommonStyles/styles/variables.less");
@import url("require:CommonStyles/styles/rounded-corners.less");
@import url("require:CommonStyles/styles/button.less");
@import url("require:Menus/styles/menus.less");
@import url("require:Util/styles/info-select.less");

.facets-editor{
    @w: 300px;

    @tab_w: 40px;
    @tab_bw: 1px;
    @tab_corner_radius: 7px;

    @panel_w: @w - @tab_w - @padding_normal;
    @editor_body_w: 200px;
    @facets_body_w: @w - @tab_w;

    position: relative;
    height: 100%;
    width: 100%;

    > .inner{
        position: relative;
        width: 100%;
        height: 100%;

        > .table {
            display: table;
            height: 100%;
            width: 100%;

            > .row { 
                display: table-row; 
                > .cell { 
                    display: table-cell; 
                    height: 100%;
                    > .inner{
                        height: 100%;
                        width: 100%;
                        position: relative;
                        overflow: hidden;
                    }
                }
            }
        }

        .tab-cell {
            width: @tab_w;
        }

        .configuration-editor-cell {
            min-width: 0;
            max-width: @editor_body_w + @padding_normal;
        }

        .tab{
            .rounded_corners_left(@tab_corner_radius);
            position: absolute;
            top: 0;
            height: 100%;
            width: @tab_w;
            background: @chrome_primary;

            > .title-container{
                position: absolute;
                top: 0;
                left: 0;
                width: @tab_w;				
                height: 100%;
                text-align: center;

                > .rotate-container{
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    overflow: hidden;

                    > .title {
                        .button;
                        display: inline-block;
                        .rounded_corners(@tab_corner_radius);
                        margin: @padding_tight;
                        font-size: 18px;
                        padding: 1px @padding_looser;

                        button.toggle {
                            .button;
                        }
                    }
                }
            }
        }


        .configuration-editor {
            position: absolute;
            top: 0;
            bottom: 0;
            left: @padding_normal;
            width: @editor_body_w;

            > .inner{
                position: relative;
                width: 100%;
                height: 100%;
                overflow: hidden;


                > .body-container{
                    position: absolute;
                    left: @tab_w;
                    right: @tab_bw;
                    top: @tab_bw;
                    bottom: @tab_bw;
                    padding-left: 5px;
                    font-size: 14px;
                    overflow: hidden;

                    > .body{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: @editor_body_w + 2 * @padding_normal;
                        height: 100%;
                        background: white;
                        overflow-y: auto;

                        > .inner{
                            padding: @padding_normal;
                        }
                    }
                }
            }
        }

        .facet-sections-cell{
            width: @facets_body_w;
        }

        .facet-sections{
            position: absolute;
            top: 0;
            left: 0;
            width: @facets_body_w;
            height: 100%;

            > .inner{
                position: relative;
                height: 100%;
                padding: 0 5px;
                overflow-y: scroll;
                overflow-x: hidden;

                > .summary-bar-section{
                    .summary-bar {
                        > .inner {
                            .rounded_corners(@padding_normal);
                            margin: 0 5px; 
                            padding: 5px 5px;
                            .text {
                                .selected {
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                }

                > .primary-facets-section{
                    > .body{
                        position: relative;
                    }
                }

            }
        }


        .section{
            .rounded_corners(5px);
            background-color: @chrome_secondary;
            position: relative;
            margin-bottom: 5px;
            padding: 2px;

            &:last-child {
                margin-bottom: 0;
            }

            > .header {
                margin: 0px;
                padding: 5px;
                font-weight: normal;
                font-size: 16px;
            }

            > .body{
                background-color: white;
                padding: 2px;
            }
        }


    }
}

.rotate-270{
    -moz-transform: rotate(270deg) translate(0,100%);
    -moz-transform-origin: 0% 100%;
    -o-transform: rotate(270deg) translate(0, 100%);
    -o-transform-origin: 0% 100%;
    -webkit-transform: rotate(270deg) translate(0, 100%);
    -webkit-transform-origin: 0% 100%;
}
