<div class="inner">

    <div class="tab">
        <div class="title-container">
            <div class="rotate-container rotate-270">
                <div class="title">
                    <span>Configure Facets</span>
                    <button class="toggle">&#x25BC;</button>
                </div>
            </div>
        </div>
    </div>

    <div class="body">

        <div class="table">
            <div class="row">

                <div class="configuration-editor-cell cell">
                    <div class="inner">
                        <div class="configuration-editor">
                            <div class="inner">
                                <div class="section">
                                    <h3 class="header">Quantity Field</h3>
                                    <div class="body">
                                        <div class="quantity-field-selector">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="facet-sections-cell cell">
                    <div class="inner">
                        <div class="facet-sections">
                            <div class="inner">
                                <div class="base-facets-section section">
                                    <h3 class="header">Base Facets</h3>
                                    <div class="body">
                                        <div class="base-facets facets"></div>
                                    </div>
                                </div>
                                <div class="summary-bar-section section">
                                    <h3 class="header">Currently Selected</h3>
                                    <div class="body">
                                        <div class="summary-bar"></div>
                                    </div>
                                </div>
                                <div class="primary-facets-section section">
                                    <h3 class="header">
                                        <button class="add-primary-facet-button">&#x25Bc;</button>
                                        <span>Facets</span>
                                    </h3>
                                    <div class="body">
                                        <div class="primary-facets facets"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>
