<table>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td>
            <div class="configuration-editor-tab">
                <h3>Configure Facets</h3>
                <div>
                    <div class="configuration-editor">
                        <div class="section">
                            <h3 class="header">Quantity Field</h3>
                            <div class="body">
                                <div class="quantity-field-selector">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </td>

        <td class="facet-sections-cell">
            <div class="facet-sections">
                <div class="summary-bar-section section">
                    <h3 class="header">Currently Selected</h3>
                    <div class="body">
                        <div class="summary-bar"></div>
                    </div>
                </div>
                <div class="facets-section section">
                    <h3 class="header">
                        <button class="add-facet-button">&#x25Bc;</button>
                        <span>Facets</span>
                    </h3>
                    <div class="body">
                        <div class="facets"></div>
                    </div>
                </div>
            </div>
        </td>

        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>

</table>
