<div class="facet-container" id="facet-0" style="display: block;">

	<div class="facet-title">
		<div class="grid-layout layout-tightest layout-full">
			<table>
				<tbody>
					<tr>
						<td>
							<a bind="resetButton" class="facet-choice-link" href="javascript:{}" style="display: none;">reset</a>
							<span bind="titleSpan">TITLE</span> 
						</td> 
					</tr> 
				</tbody> 
			</table> 
		</div> 
	</div> 


	<div style="display: block;" bind="controlsDiv" class="facet-controls">
		<a href="javascript:{}" class="action" bind="choiceCountContainer">8 choices</a>
		<span bind="sortGroup" class="facet-controls-sortControls">
			Sort by: <a bind="sortByNameLink" href="javascript:{}" class="selected">name</a><a bind="sortByCountLink" href="javascript:{}" class="action">count</a>
		</span> 
	</div> 


	<div bind="bodyDiv" class="facet-body facet-body-scrollable ui-resizable">
		<div bind="bodyInnerDiv" class="facet-body-inner">

			<div choiceindex="0" class="facet-choice">
				<a style="visibility: hidden;" class="facet-choice-link facet-choice-toggle" href="javascript:{}">include</a><a style="visibility: hidden;" class="facet-choice-link facet-choice-edit" href="javascript:{}">edit</a><a class="facet-choice-label" href="javascript:{}">302102</a>
				<span class="facet-choice-count">
					1
				</span> 
			</div> 
		</div> 

		<div class="ui-resizable-handle ui-resizable-s" unselectable="on" style="-moz-user-select: none;">
		</div> 

	</div> 
</div>

