<% _.each(choices, function(choice,index) { %>
	<label class="facet-choice" id="facet-choice--<%= choice.id %>" for="input--<%= choice.id %>">
		<div class="text cell">
			<div class="title"><%= choice.label %></div>
			<div class="count"><%= choice.count_label %></div>
		</div>
		<div class="icon cell">
			<div class="count-image"><%= choice.count_image %></div>
		</div>
		<div class="controls cell">
			<input class="toggle" type="checkbox" id="input--<%= choice.id %>" data-choice_id="<%= choice.id %>" value="<%= choice.value %>">
		</div>
	</label>
<% }); %>
