<div class="facet-container" id="facet-0" style="display: block;">

	<div class="facet-title">
		<div class="grid-layout layout-tightest layout-full">
			<table>
				<tbody>
					<tr>
						<td>
							<a class="facet-choice-link facet-reset-button" href="javascript:{}" style="">reset</a>
							<span class="facet-title">TITLE</span> 
						</td> 
					</tr> 
				</tbody> 
			</table> 
		</div> 
	</div> 


	<div style="display: block;" class="facet-controls">
		<span> 8 choices</span>
	</div> 


	<div class="facet-body facet-body-scrollable ui-resizable">
		<div class="facet-body-inner facet-choices">

			<div class="facet-choice" id="facet-choice--302101">
				<a class="facet-choice-label" href="javascript:{}">
					<label for="input--302101">302102</label>
				</a>
				<input type="checkbox" id="input--302101" data-choice_id="302101" value="foo">
				<!--
				<span class="facet-choice-count">1</span> 
				-->
			</div> 
		</div> 

		<div class="ui-resizable-handle ui-resizable-s" unselectable="on" style="-moz-user-select: none;">
		</div> 

	</div> 
</div>

