<% _.each(choices, function(choice,index) { %>
<div class="facet-choice" id="facet-choice--<%= choice.id %>">
	<label for="input--<%= choice.id %>">
		<input class="facet-choice-toggle" type="checkbox" id="input--<%= choice.id %>" data-choice_id="<%= choice.id %>" value="<%= choice.value %>">
		<span class="facet-choice-label"><%= choice.label %></span>
		<span class="facet-choice-count-label"><%= choice.count_label %></span>
		<span class="facet-choice-count-image"><%= choice.count_image %></span>
	</label>
</div> 
<% }); %>
