<div class="facet-container facet-list-facet" id="facet-<%= model.id %>" style="display: block;">

	<div class="facet-title">
		<a class="facet-choice-link facet-reset-button" href="javascript:{}" style="visibility:hidden;">reset</a>
		<span class="facet-title"><%= model.label %></span> 
	</div> 


	<div style="display: block;" class="facet-controls">
		<span><span class="choices-count"></span> choices</span>
	</div> 


	<div class="facet-body facet-body-scrollable">
		<div class="facet-body-inner facet-choices">
		</div> 
	</div> 
</div>

