<% _.each(choices, function(choice,index) { %>
<label class="facet-choice" id="facet-choice--<%= choice.widget_id %>" for="input--<%= choice.widget_id %>">

	<div class="text-cell cell">
		<div class="text">
			<div class="title" for="input--<%= choice.widget_id %>"><%= choice.label %></div>
			<div class="count"><%= choice.count_label %></div>
		</div>
	</div>

	<div class="icon-cell cell">
		<div class="icon">
			<div class="count-image"><%= choice.count_image %></div>
		</div>
	</div>
	<div class="controls-cell cell">
		<div class="controls">
			<% if (controls.toggle) { %>
			<input class="toggle control" type="checkbox" id="input--<%= choice.widget_id %>" data-choice_id="<%= choice.widget_id %>" value="<%= choice.id %>">
			<% } %>

			<% if (controls.info) { %>
			<div class="info control">
				info
			</div>
			<% } %>
		</div>
	</div>

</label>

<% }); %>
