<table>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>
            <div class="slider"></div>
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <div>
                <h3>configure range</h3>
                <div class="inputs">
                    <div class="min-input input">
                        <input data-attr="min" type="text" class="minmax min"/>
                    </div>
                    <div class="max-input input">
                        <input data-attr="max" type="text" class="minmax max"/>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </td>
        <td></td>
    </tr>
</table>
