<table>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>
            <div class="range-tab ytab">
                <h3><span class="min"></span>&nbsp;<span class="max"></span></h3>
                <div class="inputs y-inputs">
                    <div class="ymax-input y-input input">
                        <input data-attr="ymax" type="text" class="range-input minmax ymax"/>
                        <div class="auto ymax-auto">
                            <input id="<% print('.' + model.cid + '-ymax-auto');%>" data-attr="ymax-auto" type="checkbox" class="range-input ymax-auto">
                            <label for="<% print ('.' + model.cid + '-ymax-auto'); %>">auto</label>
                        </div>
                    </div>
                    <div class="ymin-input y-input input">
                        <div class="auto ymin-auto">
                            <input id="<% print('.' + model.cid + '-ymin-auto');%>" data-attr="ymin-auto" type="checkbox" class="range-input ymin-auto">
                            <label for="<% print ('.' + model.cid + '-ymin-auto'); %>">auto</label>
                        </div>
                        <input data-attr="ymin" type="text" class="range-input minmax ymin"/>
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div class="slider"></div>
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <div class="range-tab xtab">
                <h3><span class="min"></span>&nbsp;<span class="max"></span></h3>
                <div class="inputs x-inputs">
                    <div class="xmin-input input">
                        <div class="auto xmin-auto">
                            <input id="<% print('.' + model.cid + '-xmin-auto');%>" data-attr="xmin-auto" type="checkbox" class="range-input xmin-auto">
                            <label for="<% print ('.' + model.cid + '-xmin-auto'); %>">auto</label>
                        </div>
                        <input data-attr="xmin" type="text" class="range-input minmax xmin"/>
                    </div>
                    <div class="xmax-input input">
                        <div class="auto xmax-auto">
                            <label for="<% print ('.' + model.cid + '-xmax-auto'); %>">auto</label>
                            <input id="<% print('.' + model.cid + '-xmax-auto');%>" data-attr="xmax-auto" type="checkbox" class="range-input xmax-auto">
                        </div>
                        <input data-attr="xmax" type="text" class="range-input minmax xmax"/>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </td>
        <td></td>
    </tr>
</table>
